.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-box {
    background-color: black;
    padding: 40px;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    background-color: #41B06E;
    color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
}

.form-row {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: justify;
    margin-right: 10px;
}

input {
    border-radius: 10px;
    width: 250px;
    height: 30px;
    padding: 0 10px;
}

.login-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}